<link rel="stylesheet" href="{{ static_url('CSS/main.css') }}"/>

<script src="{{ static_url('vendor/JS/jquery-3.4.1.min.js') }}"></script>
<script src="{{ static_url('vendor/JS/popper.min.js')  }}"></script>

<link rel="stylesheet" href="{{ static_url('vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}"/>
<script src="{{ static_url('vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, minimal-ui">