<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% module package_includes() %}
</head>
<body>

<div class="outer-container d-flex flex-row justify-content-center align-items-center">
    <div class="email-div form-group h-100" style="margin:10px;">

        {% if error %}
            <p><span style="color: red">{{ error }}</span></p>
        {% end %}
        
        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-info progress-bar-animated" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:{{ progress_width }}%; ">
                    <span style="color:white">{{ progress_width }}% Complete</span>
            </div>
        </div>
        
        <form method="post" action="/app" autocomplete="off">
            
            <div class="form-group h-100">
                <div class="row">
                  <div class="col-2 text-center">
                     <input type="submit" id="not-affirmative" class="button btn btn-primary" tabindex='0' name="negative" value="Not Politician">
                </div>
                    <div class="col description text-center" style='padding: 3px; width: 1000px; word-break: normal; word-wrap: normal;'>
                        {% for key,value in column_data.items() %}
                             <div class="row">
                                <div class="col-2 float-right">
                                    <b>{{ key }}:</b>
                                </div>
                                <div class="col-10">
                                    <p>{{ value }}</p>
                                </div>
                              </div>
                        {% end %}
                    </div>
                    <div class="col-2 text-center positive-div">
                        <input type="submit" id="affirmative" class="button btn btn-primary" tabindex='0' name="positive" value="Politician(Individual)"> 
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 text-center">
                        <input type="submit" id="neutral" class="button btn btn-primary" tabindex='0' name="neutral" value="Politician(Party)">
                    </div>
                    <div class="col-5"></div>
                </div>
            </div>
            {% raw xsrf_form_html() %} 
        </form>
    </div>
</div>

</body>

<script src="https://unpkg.com/anycontrol/dist/index.umd.min.js"></script>

<script type="text/javascript">
$(function(){
    $('html').keydown(function(e){
        if(e.keyCode == 37) { // left
              $("#not-affirmative").addClass("non-affirmative-click");   
              $("#not-affirmative").trigger( "click" );
        }
        else if(e.keyCode == 39) { // right
              $("#affirmative").addClass("affirmative-click");
              $("#affirmative").trigger( "click" );
        }
        else if(e.keyCode == 40) { // right
              $("#neutral").addClass("neutral-click");
              $("#neutral").trigger( "click" );
        }
    });
});

var ctrl = new anycontrol()

ctrl.addCommand("left", function() {
    $("#not-affirmative").addClass("non-affirmative-click");   
    $("#not-affirmative").trigger( "click" );
});

ctrl.addCommand("right", function () {
    $("#affirmative").addClass("affirmative-click");
    $("#affirmative").trigger( "click" );
});

ctrl.addCommand("down", function () {
    $("#neutral").addClass("neutral-click");
    $("#neutral").trigger( "click" );
});
ctrl.start();

</script>

</html>